_id: spc_2fdc6e305a1b46938790e4441abfcd47
type: ApiSpec
parentId: wrk_93e6d1afd74f4b8d8f568162ba9646f6
modified: 1633165457496
created: 1632860565680
fileName: NoloNoloPlus API 1.0.0
contents: >
  ---

  openapi: 3.0.0

  info:
    title: NoloNoloPlus API
    description: API for NoloNoloPlus
    contact:
      name: Matteo Vannucchi
      email: matteo.vannucchi@studio.unibo.it
    license:
      name: Apache 2.0
      url: http://www.apache.org/licenses/LICENSE-2.0.html
    version: 1.0.0
  servers:

  - url: https://site202120.tw.cs.unibo.it
    description: Server primario
  - url: https://localhost.com
    description: Server locale test
  tags:

  - name: customers
    description: Operations available for CRUD operation in the customers database
  - name: products
    description: Operations available for CRUD operation in the products database
  - name: staff
    description: Operations available for CRUD operation in the Staff database
  - name: unit
    description: Operations available for CRUD operation in the unit database
  - name: rental
    description: Operations available for CRUD operation in the products database
  paths:
    /customers:
      get:
        description: Get all customer in the database
        tags:
        - customers
        operationId: getAllCustomers
        responses:
          "200":
            description: the operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Customer'
          "500":
            description: server error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      post:
        description: Create a customers in the database, with a randomly generated id
        tags:
        - customers
        operationId: addCustomer
        requestBody:
          description: the customer to be added to the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        responses:
          "201":
            description: customer created successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Customer"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "409":
            description: an existing item already exists
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /customers/{id}:
      get:
        description: get a customer by id
        tags:
        - customers
        operationId: getCustomerById
        parameters:
        - name: id
          in: path
          description: The id of the customers to get
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Customer"
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No customer with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      delete:
        description: Delete a customer with the id passed
        tags:
        - customers
        operationId: removeCustomerById
        parameters:
        - name: id
          in: path
          description: The id of the customers to delete
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "200":
            description: customer deleted correctly
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Customer"
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No customer with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      patch:
        description: Modify a customer on the database
        tags:
        - customers
        operationId: modifyCustomer
        parameters:
        - name: id
          in: path
          description: The id of the customers to modify
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        requestBody:
          description: The new field of the customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        responses:
          "200":
            description: customer modified successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Customer"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: A customer with that id doesn't exit.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error" 
    /customers/{id}/rentals:
      get:
        description: get all rental associated with the customer
        operationId: getAllCustomerRentals
        tags:
        - customers
        parameters:
        - name: id
          in: path
          description: The id of the customers
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rental'
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No customer with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /customers/{id}/favorites:
      get:
        description: get all favorites associated with the customer
        operationId: getAllFavorites
        tags:
        - customers
        parameters:
        - name: id
          in: path
          description: The id of the customers
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Product'
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No customer with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /staffs:
      get:
        description: Get all staffs in the database
        tags:
        - staff
        operationId: getAllStaffs
        responses:
          "200":
            description: the operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Staff'
          "500":
            description: server error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      post:
        description: Create a staff in the database, with a randomly generated id
        tags:
        - staff
        operationId: addStaff
        requestBody:
          description: the staff to be added to the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
        responses:
          "201":
            description: staff created successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Staff"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "409":
            description: an existing item already exists
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /staffs/{id}:
      get:
        description: get a staff by id
        tags:
        - staff
        operationId: getStaffById
        parameters:
        - name: id
          in: path
          description: The id of the staff to get
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Staff"
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No staff with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      delete:
        description: Delete a staff with the id passed
        tags:
        - staff
        operationId: removeStaffById
        parameters:
        - name: id
          in: path
          description: The id of the staff to delete
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "200":
            description: staff deleted correctly
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Staff"
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No staff with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      patch:
        description: Modify a staff on the database
        tags:
        - staff
        operationId: modifyStaff
        parameters:
        - name: id
          in: path
          description: The id of the staff to modify
          required: true
          schema:
            $ref: "#/components/schemas/Id"
          example: 5
        requestBody:
          description: The new field of the staff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
        responses:
          "200":
            description: staff modified successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Customer"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: A staff with that id doesn't exit.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error" 
    /staffs/{id}/rentals:
      get:
        description: get all rental associated with the staff
        operationId: getAllStaffRentals
        tags:
        - staff
        parameters:
        - name: id
          in: path
          description: The id of the staff
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rental'
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No staff with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"  
    /products:
      get:
        tags:
        - products
        summary: Get all products
        operationId: getAllProducts
        responses:
          "200":
            description: the operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Product'
          "500":
            description: server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
      post:
        tags:
        - products
        summary: Create a product on the database with a randomly generated id
        operationId: createProduct
        requestBody:
          description: the product to be created on the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        responses:
          "201":
            description: the operation was successfull
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Product'
          "400":
            description: the object structure has some error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
    /products/{id}:
      get:
        tags:
        - products
        summary: return a single product denoted by an id
        operationId: getProductById
        parameters:
        - name: id
          in: path
          description: the id of the product to return
          required: true
          style: simple
          explode: false
          schema:
            type: integer
          example: 52
        responses:
          "200":
            description: the operation was completed successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Product'
          "400":
            description: invalid id
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          "409":
            description: no product with that id exist in the database
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
      delete: 
        description: Delete a product with the id passed
        tags: 
        - products
        operationId: removeProductsById
        parameters:
        - name: id
          in: path
          description: The id of the product to delete
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/Id"
        responses: 
          "200":
            description: product deleted correctly
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Product"
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No customer with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      patch:
        description: Modify a product on the database
        tags:
        - products
        operationId: modifyProduct
        parameters:
        - name: id
          in: path
          description: The id of the product to modify
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        requestBody:
          description: The new field of the product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        responses:
          "200":
            description: product modified successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Product"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: A product with that id does not exit.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /products/{id}/units:
      get:
        description: Get all unit associated with the product
        operationId: getAllProducs
        tags:
        - products
        parameters:
        - name: id
          in: path
          description: The id of the product
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Unit'
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No product with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      post:
        description: Create a unit in the database, with a randomly generated id
        tags:
        - products
        operationId: addUnitToProduct
        parameters: 
        - name: id
          in: path
          description: none for now 
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        requestBody:
          description: the customer to be added to the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        responses:
          "201":
            description: customer created successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Customer"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "409":
            description: an existing item already exists
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /products/{id}/tags:
      get:
        description: Get all tags of the products
        tags:
        - products
        parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Tag'
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No product with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      post:
        description: Create a customers in the database, with a randomly generated id
        tags:
        - products
        operationId: addUnitToProduct
        parameters: 
        - name: id
          in: path
          description: none for now 
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        requestBody:
          description: the customer to be added to the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        responses:
          "201":
            description: customer created successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Customer"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "409":
            description: an existing item already exists
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /products/{id}/altproducts:
      get:
        description: Get all alternative products associated with the product
        operationId: getAllAltProducts
        tags:
        - products
        parameters:
        - name: id
          in: path
          description: The id of the product
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Product'
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No product with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /rentals: 
      get:
        description: Get all rentals in the database
        tags:
        - rentals
        operationId: getAllRental
        responses:
          "200":
            description: the operation was completed successfully
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rental'
          "500":
            description: server error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      post:
        description: Create a rental in the database, with a randomly generated id
        tags:
        - rentals
        operationId: addRental
        requestBody:
          description: the rental to be added to the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rental'
        responses:
          "201":
            description: rental created successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Rental"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "409":
            description: an existing item already exists
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    /rentals/{id}:
      get:
        description: get a rental by id
        tags:
        - rentals
        operationId: getRentalById
        parameters:
        - name: id
          in: path
          description: The id of the rental to get
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        responses:
          "201":
            description: The operation was completed successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Rental"
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No rental with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      delete:
        description: Delete a rental with the id passed
        tags:
        - rentals
        operationId: removeRentalById
        parameters:
        - name: id
          in: path
          description: The id of the rental to delete
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/Id"
          example: 5
        responses:
          "200":
            description: rental deleted correctly
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Rental"
          "400":
            description: Invalid id
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: No rental with that id exist
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
      put:
        description: Modify a rental on the database
        tags:
        - rentals
        operationId: modifyRental
        parameters:
        - name: id
          in: path
          description: The id of the customers to modify
          required: true
          schema:
            $ref: "#/components/schemas/Id"
        requestBody:
          description: The new field of the rental
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rental'
        responses:
          "200":
            description: rental modified successfully
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Rental"
          "400":
            description: invalid input, object invalid
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          "404":
            description: A rental with that id does not exit.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  components:
    schemas:
      Customer:
        description: Schema for the customer type. Contain the fundamental info of the customer such as fist and last name, date of birth, username and encrypted password
        required:
        - email
        - password
        - username
        type: object
        properties:
          _id:
            $ref: '#/components/schemas/Id'
          firstName:
            type: string
            example: Mario
          lastName:
            type: string
            example: Rossi
          username:
            type: string
            example: MarioRossi00
          password:
            type: string
            format: password
            example: f2e2376760300880bc8c00040091a6c43eb4ba6188c36d3931752a55ca2d0cfc
          email:
            type: string
            format: "email"
            example: mario.rossi@gmail.com
          dateOfBirth:
            type: string
            format: date
          address:
            $ref: '#/components/schemas/Address'
      Staff:
        required:
          - firstname
          - lastname
          - username
          - password
          - email
          - rentals
        properties:
          firstname:
            type: string
            example: "Mario"
          lastname:
            type: string
            example: "Bianchi"
          username:
            type: string
            example: ""
          password:
            type: string
            example: "1021390asd812839a0sgo120bklgf1"
          email:
            type: string
            format: email
            example: "mario.bianchi@libero.it"
      Address:
        type: object
        required:
          - country
          - city
          - zipcode
          - streetaddress
        properties:
          country:
            type: string
            example: "Italy"
          city:
            type: string
            example: "Bologna"
          zipcode:
            type: string
            example: "40124"
          streetaddress:
            type: string
            example: "Via san felice 50/A"
      Product:
        type: object
        description: Schema for the product type. Contain info about the product
        required:
        - name
        - description
        - image
        - category
        - subcategory
        - tags
        - units
        - altproducts
        - pricemodifiers
        properties:
          _id:
            $ref: '#/components/schemas/Id'
          name:
            type: string
            example: "Macchina da corsa"
          description:
            type: string
            example: "Ferrari del 1950"
          image:
            type: string
            format: path
            example: "media/productImage.jpg"
          category:
            type: string
            example: "Macchine"
          subcategory:
            type: string
            example: "Super car"
          tags:
            type: array
            items:
              $ref: "#/components/schemas/Tag"
          units:
            type: array
            items:
              $ref: "#/components/schemas/Id"
          altproducts:
            type: array
            items:
              $ref: "#/components/schemas/Id"
          pricemodifiers:
            type: array
            items:
              $ref: "#/components/schemas/Modifier" 
      Unit:
        type: object
        required:
          - name
          - price
          - condition
          - avaible
          - product
          - rentals
        properties:
          _id:
            $ref: '#/components/schemas/Id'
          name:
            type: string
            example: "Ferrari 505 del 2019"
          condition:
            type: string
            enum: ["Perfect", "minor flaw", "major flaw", "broken"]
          avaible:
            type: boolean
            example: True
          product:
            $ref: "#/components/schemas/Id"
          rentals:
            type: array
            items:
              $ref: "#/components/schemas/Id"
      Rental:
        type: object
        required:
          - startdate
          - enddate
          - bill
          - customer
          - staff
          - unit
        properties:
          _id:
            $ref: "#/components/schemas/Id"
          startdate:
            type: string
            format: date
            example: "2021-07-13"
          enddate:
            type: string
            format: date
            example: "2017-08-02"
          bill:
            $ref: "#/components/schemas/Bill"
          customer:
            $ref: "#/components/schemas/Id"
          staff:
            $ref: "#/components/schemas/Id"
          unit:
            $ref: "#/components/schemas/Id"
          date:
            type: string
      Bill:
        type: object
        required:
          - baseprice
          - currency
          - modifiers
          - date
        properties:
          _id:
            $ref: "#/components/schemas/Id"
          baseprice:
            type: number
            example: 125.4
          currency:
            type: string
            enum: ["€", "£", "$"]
          modifiers:
            type: array
            items:
              $ref: "#/components/schemas/Modifier"
          date:
            type: string
            format: data
            example: "2021-07-13"
      Tag:
        required:
          - key
          - value
        properties:
          key:
            type: string
            example: "Marca"
          value:
            type: string
            example: "Rolex"
      Modifier:
        required:
          - value
          - condition
        properties:
          value:
            type: number
            example: 0.90
          condition:
            type: string
            example: "If rental is on the weekend"
      Id:
        type: integer
        example: 24
        description: "Id of object on the database"
      Error:
        required:
        - message
        type: object
        properties:
          message:
            type: string
            example: Could not find server
        description: Schema for the error type. Contain info about the error
contentType: yaml
